.tableContainer {
  max-width: 50rem;   
  width: 95%;
  margin: 2rem auto;
  padding: 1rem;
  overflow-x: auto; 
}
.result {
  width: 100%;       
  table-layout: auto;
  border-spacing: 1rem;
  text-align: center;
}

.result thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

.result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

@media (max-width: 500px) {
  .tableContainer {
    padding: 0;
  }
}